@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--main-color: #318bc7;
}

.App {
	max-width: 50vw;
	margin: 0 auto;
	font-family: Quicksand, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
/* navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
}
.navbar a {
	color: var(--main-color);
}
.navbar a p {
	font-weight: 700;
	font-size: 1.1rem;
	border: 2px solid var(--main-color);
	padding: 10px;
}
/* note */
.note-preview {
	max-width: 70%;
	margin: 20px auto;
}
.note-preview p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.note-details p {
	margin-top: 20px;
}
/* create */
.create form {
	display: flex;
	flex-direction: column;
}
.create form h3 {
	margin-top: 25px;
}
.create input {
	border: none;
	border-bottom: 2px solid blue;
	outline: none;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 200px;
	padding-bottom: 5px;
	font-size: 1.1rem;
}
.create textarea {
	margin-top: 10px;
	height: 100px;
}
.button {
	width: fit-content;
	margin-top: 20px;
	padding: 10px;
	border: 2px solid var(--main-color);
	padding: 10px;
	font-weight: 600;
	color: var(--main-color);
	cursor: pointer;
}
