@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand, sans-serif;
}
:root {
	--main-color: #318bc7;
}

.App {
	max-width: 50vw;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: black;
}
/* navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
}
.navbar a {
	color: var(--main-color);
}
.navbar a p {
	font-size: 1.1rem;
	font-weight: 700;
	border: 2px solid var(--main-color);
	padding: 10px;
}
/* Home */
.no-notes {
	max-width: fit-content;
	margin: 50px auto;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.no-notes h2 {
	margin-bottom: 15px;
	opacity: 0.7;
}
.no-notes img {
	width: 20%;
	opacity: 0.7;
}

/* Note */
.note-preview {
	max-width: 70%;
	margin: 20px auto;
}
.note-preview p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.note-details p {
	margin-top: 20px;
}
/* Create */
.create form {
	display: flex;
	flex-direction: column;
}
.create form h3 {
	margin-top: 25px;
}
.create input {
	border: none;
	border-bottom: 2px solid blue;
	outline: none;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 200px;
	padding-bottom: 5px;
	font-size: 1.1rem;
	font-weight: 600;
}
.create textarea {
	margin-top: 10px;
	height: 100px;
	padding: 5px;
	font-weight: 600;
}
.button {
	margin-top: 20px;
	width: fit-content;
	padding: 10px;
	border: 2px solid var(--main-color);
	padding: 10px;
	cursor: pointer;
	font-weight: 800;
	background: none;
	color: var(--main-color);
	font-size: 1.1rem;
}
